:root {
    --etml-white: #FBFBFB;
    --etml-blueD: #1E4393;
    --etml-blueW: #0160CF;
}

html, body {
    background-color: var(--etml-white);
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 100%;
}   

header{
    position: fixed;
    background-color: #274472;
    height: 127px;
    width: 200vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-block: 0em;
    margin-inline: 0px;
    padding-top: 35px;
    color: #C3E0E5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 400;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.left {
    position: fixed;
    top: 127px;
    left: 0;
    width: 350px;
    height: calc(100vh - 127px);
    background-color: var(--etml-blueW);
}

.left img {
    padding-top: 10px;
    width: 80%;
    justify-content: center;
    display: grid;
    margin: auto;
}

.left .logoETML {
    transition: .3s ease;
}

.left .images {
    margin-left: 46px;
    margin-right: 47px;
    height: 370px;
    width: 417,7px;
}

.left .images img {
    width: 35%;
    transition: .3s ease;
    margin: 20px auto;
}

.left .images img:hover {
    opacity: 50%;
    transition: .3s ease;
}

#data{
    margin-left: 450px;
    width : calc(200vh - 450px);
    height : calc(100vh - 245px);
    border: none;
    background-color: white;
}

div {
    width: 251px;
    height: 279px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 150px;
    border: solid blue;
    border-radius: 43px;
    background-color: #5885AF;
    float: left;
    margin-right: 20px;
}

#rectangle{
    background-color: white;
    width: 251px;
    height: 75px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    margin-top: 205px;
    margin-left: 0px;
}