@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --etml-white: #FBFBFB;
    --etml-blueD: #292929;
    --etml-blueW: #0000AC;
}

html,
body {
    background-color: var(--etml-white);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 10rem;
    height: 100%;
    background-color: var(--etml-blueW);
    position: fixed;
}

.logoETML {
    justify-content: center;
    padding: 10px;
}

.container {
    margin-left: 9.5rem;
    background-color: var(--etml-white);
}

.title {
    text-align: center;
    color: var(--etml-white);
    background-color: var(--etml-blueW);
    margin: 0;
    padding: 15px;
    font-size: 1.2rem;
}

.boxesContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    padding: 30px;
    gap: 74.2px;
    width: 100%;
}

.box {
    box-sizing: border-box;
    width: 220px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--etml-blueD);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.box img {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 250px;
    object-fit: cover;
}

.nom {
    text-align: center;
    color: var(--etml-white);
    background-color: var(--etml-blueW);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 12px;
    padding: 10px;
    border-bottom-right-radius: 12px;
}

.description {
    margin: 10px;
    color: #323232;
    text-align: center;
}

/* @media (max-width: 1880px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1580px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1350px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1150px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 930px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 620px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
} */