@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --etml-white: #FBFBFB;
    --etml-blueD: #1E4393;
    --etml-blueW: #0160CF;
}

html,
body {
    background-color: var(--etml-white);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.left {
    width: 10rem;
    height: 100%;
    background-color: var(--etml-blueW);
    position: fixed;
}

.left .logoETML {
    justify-content: center;
    width: 70%;
    display: grid;
    margin: auto;
    padding: 10px;
}

.left .logoETML {
    transition: .3s ease;
}

.left .images {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 65%;
    height: 80vh;
}

.left .images img {
    margin: 20px auto;
    width: 50%;
    justify-content: center;
    transition: .3s;
    display: grid;
}

.left .images img:hover {
    opacity: 75%;
    transition: .3s;
    width: 55%;
}

.right {
    width: 100%;
    margin-left: 9.5rem;
    background-color: var(--etml-white);
}

.right .title {
    text-align: center;
    color: var(--etml-white);
    background-color: var(--etml-blueW);
    margin: 0;
    padding: 15px;
    font-size: 1.2rem;
}

.right .boxes-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.right .boxes-content .box {
    border-radius: 20px;
    margin: 30px auto 0px 30px;
    box-shadow: 0px 0px 10px var(--etml-blueD);
}

.right .boxes-content .box img {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 250px;
}

.right .boxes-content .box .nom {
    text-align: center;
    color: var(--etml-white);
    background-color: var(--etml-blueW);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 12px;
    padding: 10px;
    border-bottom-right-radius: 12px;
}

.right .boxes-content .box .description {
    margin: 10px;
    color: var(--etml-blueD);
    text-align: justify;
}

.right .boxes-content .box .description {
    text-align: center;
}

@media (max-width: 1880px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1580px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1350px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1150px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 930px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 620px) {
    .right .boxes-content {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}